html

{

height: -webkit-fill-available;

}

body 

{

    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0) !important;
    height: -webkit-fill-available;

}

.header-container

{

    width: 100%;
    height: 37.03704vh;
    position: relative;

}

.middle

{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.sbg 

{

    display: inline-flex;
    max-width: 7120px;
    overflow: hidden;
    margin: 0;
    position: fixed;

    animation: sOpacity;
    animation-duration: 3s;


}


.s1

{

    height: calc(100vh - 63vh);
    max-width: 7120px;
    object-fit:cover;
    margin: 0;
    animation:sroll;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    overflow: hidden;
    
}

@keyframes sroll 

    {
    
        0%

        {

            transform: translateX(0%);
           

        }

        100%

        {

            transform: translateX(-200%);
            
        }

    }

    @keyframes sOpacity

    {
    
        from
    
        {
    
            opacity: 0%;
           
    
        }
    
        to
    
        {
    
            opacity: 100%;
            
        }
    
    }    

.spriter 

{

    position: fixed;
    top:calc(100vh - 78.7vh);
    margin-top: 0.7%;
    left: 5vw;
    margin-left: 100%;
    z-index: 15;
    animation: r ease-out 6s 0.2s, r2 4s linear 6.2s infinite alternate;

}

@keyframes r

{

    0%
        {

            margin-left:100%;

        }

    100% 
    
        {

            margin-left:0%;

        }

}


@keyframes r2

{

    from
        {

            margin-left:0%;
            margin-top: 0.7%;

        }

    to 
    
        {

            margin-left:0%;
            margin-top: 4%;

        }


}

#r 

{

    width: calc(100vw - 90vw);
    height: calc(100vh - 95vh);
    animation:  ease-out 5s 1s,  4s linear 6s infinite alternate;

}

h2

{

    color: white;
    font-family: "press Start 2P";
    font-size: 1.7vw;
    display: flex;
    position: fixed;
    top: calc(100vh - 69.5vh);
    left: 15%;    
    z-index: 5;
    animation: htfadeIn2 1s forwards 4.5s;
    opacity: 0;
    visibility: hidden;

}



h1

{

    color: white;
    position:fixed;
    font-family: "press Start 2P";
    font-size: 4.5vw;
    display: flex;
    left: 30%;
    top: calc(100vh - 79vh);
    z-index: 5;
    white-space: nowrap;
    text-shadow: 2px 0.5vw 0px black;

}

h1 span:nth-child(1)

{

    margin-right: 2vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 4s;

}

h1 span:nth-child(2)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 3.6s;

}


h1 span:nth-child(3)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 3.4s;
    
}


h1 span:nth-child(4)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 3.2s;

}


h1 span:nth-child(5)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 3.0s;

}


h1 span:nth-child(6)

{

    margin-right: 2vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 2.7s;

}


h1 span:nth-child(7)

{

    margin-right: 0.5;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 2.5s;

}


h1 span:nth-child(8)

{

    margin-right: 0.5;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 2.3s;

}


h1 span:nth-child(9)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 2.1s;

}


h1 span:nth-child(10)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 1.9s;

}


h1 span:nth-child(11)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 1.7s;

}


h1 span:nth-child(12)

{

    margin-right: 0.5vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 1.5s;

}


h1 span:nth-child(13)

{

    margin-right: 0vw;
    visibility: hidden;
    animation: htfadeIn 0.5s 2s forwards;
    animation-delay: 1.4s;

}

@keyframes htfadeIn

{

    from
    
    {
        opacity: 0%;
        text-shadow: 0px 0px 0px black;
        visibility: hidden;
    }

    to 

    {

        opacity: 100%;
        text-shadow: 0px 10px 4px black;
        visibility: visible;

    }

}

@keyframes htfadeIn2

{

    from
    
    {
        opacity: 0%;
        text-shadow: 0px 0px 0px black;
        visibility: hidden;
    }

    to 

    {

        opacity: 100%;
        text-shadow: 0px 3px 2px black;
        visibility: visible;

    }

}

.about

{

    border: 0.2vw dotted blueviolet;    
    background: #51FFEE;
    background: -webkit-linear-gradient(to top left, #51FFEE 0%, #000000 100%);
    background: -moz-linear-gradient(to top left, #51FFEE 0%, #000000 100%);
    background: linear-gradient(to top left, #51FFEE 0%, #000000 100%);
    display: flex;

}



.middle-top

{

    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ctlslidein 1.5s ease-in-out forwards; 

}

@keyframes ctlslidein{from { margin-left: -50vw; margin-top: -50vw;} to {margin-left:0vw; margin-top: 0vw;}}


    .lb1,.lb2,.lb3,.lb4

    {

        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: visible;
        display: none;
        position: absolute;

    }

    .lb1,.lb5

    {

        animation: lbop1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 10s;

    }

    .lb2,.lb6

    {

        animation: lbop2;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 6s;
        opacity: 0;

    }

    .lb3,.lb7

    {

        animation: lbop3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 4s;
        opacity: 0;

    }

    .lb4,.lb8

    {

        animation: lbop4;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 1s;
        opacity: 0;

    }

    .lb5,.lb6,.lb7,.lb8

    {

        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        position: absolute;

    }


    @keyframes lbop1

{

    from    {opacity:30%;}
    to      {opacity:100%;}

}


@keyframes lbop2

{

    from    {opacity:00%;}
    to      {opacity:100%;}

}


@keyframes lbop3

{

    from    {opacity:00%;}
    to      {opacity:100%;}

}


@keyframes lbop4 

{

    from    {opacity:00%;}
    to      {opacity:100%;}
    
}
    
    .l1

    {

        display: none;

    }

    .l2 

    {

        display: none;
        animation: tllfloat 1s infinite alternate linear;

    }

    .l3

    {

        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;

    }

    .l4

    {

        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        z-index: 1;
        animation: tllfloat2 1s infinite alternate linear;


    }

    @keyframes tllfloat

    {
    
        0%        {margin-top: 0%; margin-left: 0%;}
        100%      {margin-top: 2%; margin-left: 2%;}
    
    }

    @keyframes tllfloat2

    {
    
        0%        {margin-top: 0%;}
        100%      {margin-top: 2%;}
    
    }


.middle-center

{

    width: 100%;
    height: 6vh;
    position: relative;
    z-index: 1;
    margin-top: 11vh; 
    animation:  2s 4s forwards;
    justify-content: center;

}

.sbdiv

{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    filter: blur(15px);
    animation: focusin 2s forwards 2s;
    opacity: 0%;

}

@keyframes focusin

{

    00%

    {

        filter: blur(15px);
        opacity: 0%;

    }

    100%

    {

        filter: blur(0px);
        opacity: 100%;

    }

}

.searchbar

{

    display: flex;
    text-align: center;
    max-width: 100%;
    width: 29vw;
    padding: 1vw;
    height: 100%;
    border: 1px dashed blueviolet;
    border-right: 0px;
    background-color: black;
    margin-left: 10%;

}

.searchbar:hover

{

    background-color: lightpink;

}

.searchbar::placeholder

{

    color: cyan;
    font-family:"press Start 2P" ;
    font-size: 2vw;
    text-align: center;

}

.searchbar:focus

{
    outline: none;
    border-color: red;
    color: red;
    font-size: 2vw;
    font-family:"press Start 2P" ;
    background-color: rgb(252, 179, 179);
    transition: 0.3s;

}

.searchbtn

{

    cursor: pointer;
    width: 8vw;
    padding: 3px;
    height: -webkit-fill-available;
    padding: 0.2vw;
    display: flex;
    border: 1px dashed blueviolet;
    border-left: 0px;
    background-color: black;
    align-items: center;
    justify-content: center;

}

.searchbtn:hover

{

    background-color: rgb(252, 179, 179);

}

.sbi1

{

    width: 5vw;
    height: 5vw;

}


.sbi2

{

    width: 5vw;
    height: 5vw;
    position: absolute;

}

.sbi2:hover

{

    visibility: hidden;

}

.lin-sup

{

    display: flex;
    margin-right: 6%;

}

.lin

{

    color: cyan;
    width: 5vw;
    border:dotted 2px blueviolet;
    
}

.sup 

{

    color: cyan;
    border: 2px dotted blueviolet;
    margin-left: 1vw;

}

#under

{

    position: absolute;
    width: 2vw;
    height: 2vw;
    display: none;

}

#over

{

    position: relative;
    width: 2vw;
    height: 2vw;
    display: none;
}

a:link

{
    
    display: flex;
    background-color: black;
    padding: 1vw;
    font-weight: bold;
    box-shadow: 2px;
    text-decoration: none;
    font-size: 2.5vw;
    align-items: center;
    height: -webkit-fill-available;
    width: 11vw;
    text-align: center;
    justify-content: center;
    
}

.fix 

{

    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 1%;

}

a:hover, a:active 

{
    
    background-color:lightpink;
    color: cyan;

}

.pop

{

    color: cyan;
    height: -webkit-fill-available;
    border: 2px dotted blueviolet;
    margin-right: 1vw;
    margin-left: 2%;
    justify-content: center;
    
}

.header-right

{

    width: 90%; 
    height: 22vh; 
    position: fixed;
    top: 12.5vh;
    right: 0;
    z-index: 0; 
    margin-right: -100%;
    animation: htbslidein 1.5s forwards ease-in-out;

}

.htb 

{

    margin-top: 10.5%;
    width: 100%;
    height: 80%;
    object-fit: fill;

}

@keyframes htbslidein

{

    from {margin-right: -100%;}
    to   {margin-right: 0%;}

}

.categories

{

    font-size: calc(2vw + 0.8vh);
    margin-left: 2vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: white;
    font-family: "press Start 2p";

}

.about

{

    margin: 1vw;
    height: max-content;
    position: relative;
    overflow: hidden;
    display: inline-flex;

}

.about-head

{

    margin-left: 2vw;
    margin-top:1vh;
    margin-bottom: 0%;
    white-space: nowrap;
    font-size: calc(2vw + 0.8vh);
    font-family: "press Start 2p";
    color: cyan;
    animation: cloop 5s infinite alternate;

}

.about-text

{

    display: flex;
    color: white;
    padding-top: 1vw;
    margin: 0vw;
    margin-top: 6vw;
    margin-left: -12%;
    padding-bottom: 1vh;
    font-size: calc(0.7vw + 0.7vh);
    font-family: "press Start 2p";
    text-wrap:pretty;

}

.main-container

{

    position: fixed;
    background-color:  black !important;
    width: calc(100vw - 2vw);
    height: -webkit-fill-available;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vh;
    margin-top: 1vh;
    padding: 1vw;
    box-sizing: border-box;
    border: 0.2vw violet dotted;
    overflow: auto;

}

.main-container::-webkit-scrollbar

{

    display: none;

}


.main

{

    flex-direction: column;
    box-sizing: border-box;
    background-color:black;

}

.container 

{

    width: 100%;
    height: -webkit-fill-available;
    display: inline-flex;

}

.container:hover

{

        animation: gradient steps(120);
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: alternate;
        animation-timing-function: ease-in-out;

}

@keyframes gradient 

{

    0% {    
        
        background: blue ;
        background: -webkit-radial-gradient(ellipse farthest-corner at center center, hsl(252, 100%, 41%) 0%, #000000 72%);
        background: -moz-radial-gradient(ellipse farthest-corner at center center, hsl(252, 100%, 41%) 0%, #000000 72%);
        background: radial-gradient(ellipse farthest-corner at center center, hsl(252, 100%, 41%) 0%, #000000 72%);
    
        }
        

    100% {

            background: rgb(207, 0, 190) ;
            background: -webkit-radial-gradient(ellipse farthest-corner at center center, hsl(313, 100%, 41%) 0%, #000000 72%);
            background: -moz-radial-gradient(ellipse farthest-corner at center center, hsl(313, 100%, 41%) 0%, #000000 72%);
            background: radial-gradient(ellipse farthest-corner at center center, hsl(313, 100%, 41%) 0%, #000000 72%);

         }    

}

.ctgimg 

{

    width: 20vw;
    height: 20vw;
    max-width: 15vw;
    max-height: 15vw;
    align-items: center;
    justify-content: center;
    padding: 4vw;

}

#ctgimg1,#ctgimg2,#ctgimg3

{

    width: 15vw;
    position: absolute;

}

#ctgimg2

{

    animation: iconfade 3s infinite alternate;

}

#ctgimg3

{

    animation: iconfade 4s infinite alternate;

}

@keyframes iconfade

{

    0%
    {

        opacity: 100%;

    }

    100% 
    {

       opacity: 0%; 

    }

}

.ctgabt

{

    margin-left: 2vw;
    border-top: 0.15vw white dotted;
    border-bottom: 0.15vw white dotted;
    margin-bottom: 1vw;
    height: max-content;
    justify-content: center;
    margin-top: 4vw;

}

#ctghead

{

    font-size: 3.5vw;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;

}

#p1

{

    font-size: 2.5vw;
    color: coral;
    font-size: arial;
    

}

#browse

{

    cursor: pointer;
    font-size: 3vw;
    background-color: transparent;
    color: cyan;
    text-shadow: 0px 1px 1px white;

}

.brwse 

{

    position: absolute;
    float: right;
    margin-top: 22%;
    left: 0%;
    margin-left: 6%;

}

#browsearrow

{

    animation: arwmove 2s alternate infinite;
    position: absolute;
    margin-left: -8vw;
    width: 6vw;

}

@media only screen and (min-width:720px)

{

    .sbg

    {

        transition: 0.5s ease;

    }

    .main-container

    {   

    width:calc(100vw - 20vw) ;
    margin-top: 1vh;

    }


    .spriter 

    {

        position: fixed;
        top:12.5vh;
        left: 15vw;
        transition: 0.5s ease;

    }

    #r 

    {

        width: calc(100vw - 95vw);
        height: calc(100% - 85%);

    }

    .middle-top 

    {

        width: 20%;
        height: 37vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;

    }


    .l1 

    {

        position:absolute;
        display: flex;
        object-fit: cover;
        overflow: visible;
        left: 1%;
        top: 1%;
        height:calc(100% - 45%);
        transition: 0.5s ease;

    }

    .l2 

    {

        position: absolute;
        display: flex;
        object-fit:cover;
        overflow: visible;
        left: 1%;
        top: 1%;
        height:calc(100% - 45%);
        transition: 0.5s ease;

        
    }

    .l3 

    {

        display: none;

    }

    .l4 

    {

        display: none;

    }

    .lb1,.lb2,.lb3,.lb4

    {

        display: block;
        transition: 0.5s ease;

    }

    .lb5,.lb6,.lb7,.lb8

    {

        display: none;

    }
    
    .middle-center

    {

        margin-top: 1vh;

    }

    h1

{

    left: 35%;
    font-size: 3.7vw;
    top: calc(100vh - 89.5vh);
    z-index: 5;
    white-space: nowrap;
    text-shadow: 2px 0.5vw 0px black;
    transition: 0.5s ease;

}

    h2 

    {

        font-size: 1.5vw;
        top: calc(100vh - 71.5vh);
        left: 25%;
        text-shadow: 2px 0.4vw 0px black;
        z-index: 5;
        transition: 0.5s ease;

    }

    .pop

    {

        margin-left: 20%;

    }

    .fix 

    {

        margin-left: 25%;

    }

    a:link 

    {

        width: max-content;
        font-size: 1vw;

    }

    #under 

    {

        display: block;

    }

    #over

    {

        display: block;

    }

    .sbdiv

    {

        transition: 0.5s ease;

    }

    .searchbar 

    {

        width: 20vw;
        margin-left: 15%;
        transition: 0.5s ease;

    }

    .searchbar::placeholder

    {

        font-size: 0.8vw;

    }

    .searchbar:focus

    {

        font-size: 0.8vw;

    }
    
    .searchbtn

    {

        width: 3.5vw;

    }

    .sbi1,.sbi2

    {

        width: 2vw;
        height: 2vw;

    }

    .header-right

    {

        top: 10vh;
        width: 80%; 
        height: 30vh; 
        position: fixed;
        right: 0;
        z-index: 0; 
        transition: 0.5s ease;
        
    }

    .htb 

    {

        width: 100%;
        height: 100%;
        object-fit: fill;
        margin-top: 0%;
        transition: 0.5s ease;

    }

    .categories

    {

        margin: 1vw;
        transition: 0.5s ease;

    }

    .about

    {

        float: right ;
        width: 16vw;
        height: 40vh;
        margin-top: 15vh;
        transition: 0.5s ease;

    }

    .about-head

    {

        margin-bottom: 0;
        position: absolute;

    }

    .about-text 

    {

        margin-left: 6%;
        margin-top: 25%;

    }

    .main

    {

        transition: 0.5s ease;


    }

    .ctgimg

    {

        align-items: center;
        padding: 2vw;

    }

    #ctgimg1,#ctgimg2,#ctgimg3

    {
        
        width: 12vw;
        
    }

    #ctghead

    {

        font-size: 3vw;

    }

    #p1

    {

        font-size: 1.5vw;

    }

    .brwse

    {

        margin-top: 18%;
        margin-left: 3.5%;

    }

}

@media only screen and (min-width:2560px)

{

    .spriter

    {

        top: 14vh;

    }

    #r

    {

        width: 5vw;
        height: 5vw;

    }

    h1

    {
    
        left: 35%;
        top: calc(100vh - 88.5vh);
        z-index: 5;
        white-space: nowrap;
        text-shadow: 2px 0.5vw 0px black;
    
    }

    h2 

    {

        top: calc(100vh - 70.5vh);
        left: 25%;
        text-shadow: 2px 0.3vw 0px black;

    }

}




